.cardDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 85%;

    gap: 20px;
    margin: 0 auto;
    background-color: white;
  }
  .card {
    background-color: white;
    /* border: 1px solid blue; */
    align-items: center;
    margin: auto;
  }
  .cardDiv img {
    width: 100%;
  }
  *{
    margin: 0;
    padding: 0;
  }

   .card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    scale: 1.01;
    transition-duration: 0.4s;
  }
  .bib{
    background-color:#eee;
  }
 
  .pera{
    color: grey;
  }

  @media screen and (max-width:480px) {
    .pera{
        font-size: 7px;
    }
    p{
        font-size: 6px;
    }
  }
  
  @media screen and (max-width:768px) {
    .pera{
        font-size: 8px;
    }
    p{
        font-size: 7px;
    }
  }
  body{
    background-color: grey;
  }

  .catagoryCard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
   margin-top: 20px;
   margin-bottom: 30px;
  }
  .catagory:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .catagory {
    background-color: white;
   width: 42%;
   padding-top: 20px;
   padding-bottom: 20px;
  }
  /*  */
  .d{
    display: flex;
    justify-content: space-around;
    width:85%;
    width: fit-content; 
    /* border: 4px solid blue;  */
   }
  .weddingImage1{
   width: 33%;
   margin: auto;
  margin-left: 0px;
  } 
  .mainDiv{
   
    width: fit-content;
  margin: auto;
  width: 85%;  
   /* border: 5px solid red;  */
   } 
   .Fimage{ 
   /* border: 10px solid black;  */
 width: 80%; 
 width: fit-content;
  } 
  /*  */
  /* .Frist{
width: 85%;
margin: auto;
  } */

  .mainDiv2{
    /* border: 3px solid rgb(0, 255, 89); */
     height: 350px; 
     width: 85%;
    margin: auto;} 
  

   .allimg3{
    /* border:4px solid peru; */
    display: flex;
    justify-content: space-around;

  } 
  .color{
   width: fit-content;
  } 


/*  */
.Winter{
  margin-top: 30px;
}


/* .Winter{
   /* border: 6px solid black;  */
 
.Year{
  /* border:13px solid red; */
 width:100%;
}
.age{
  width: 12%;
  /* border: 2px solid pink; */
}
.child{
  /* border: 13px solid rgb(239, 17, 139); */
  /* width: 85%; */
width: 24%;
}
.child1{
   width: 20%; 
  /* border: 2px solid pink; */
}
.child2{
  width: 22%; 
 /* border: 2px solid rgb(221, 192, 255); */
}
.child3{
  width: 20%; 
 /* border: 2px solid rgb(235, 188, 45); */
}
.child4{
  width: 17%; 
 /* border: 2px solid rgb(45, 235, 115); */
}
.child5{
  /* border: 3px solid rgb(163, 245, 22); */
  width: 17%;
}
.child6{
  /* border: 3px solid rgb(132, 17, 17); */
  width: 15%;
}
@media screen and(max-width:768px){
.Winter{
width: 45%;
/* border: 10px solid blue;  */
}
.age{
  width: 10%;
  /* border: 5px solid rgb(9, 9, 9); */
}
.Year{

  width:fit-content;
  /* border:3px solid green */
}
.child1{
  /* border: 13px solid rgb(239, 17, 139); */
  width: 15%;
}
.child2{
  /* border: 13px solid rgb(17, 24, 239); */
  width: 15%;
}
.child3{
  /* border: 13px solid rgb(245, 134, 22); */
  width: 15%;
}
.child4{
  /* border: 13px solid rgb(22, 230, 245); */
  width: 12%;
}
.child5{
  /* border: 13px solid rgb(163, 245, 22); */
  width: 12%;
}
.child6{
  /* border: 13px solid rgb(146, 68, 68); */
  width: 12%;
}
}
@media screen and(max-width:425px){

  .age{
    width: 10%;
    /* border: 2px solid pink; */
  }
  .Year{
  
    width:fit-content;
    /* border:3px solid green */
  }
 .kid1{
  width: 35%;
 }
}

.mainPage {
  background-color: white;
  padding-top: 20px;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  scale: 1.01;
  transition-duration: 0.4s;
}
.card {
  background-color: white;
}
.cardDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 85%;
  gap: 20px;
  margin: 0 auto;
  background-color: white;
}
@media only screen and (max-width: 700px) {
  .cardDiv { 
    grid-template-columns: repeat(2,1fr);
  }
}
.cardDiv img {
  width: 100%;
}
.catagoryCard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
 margin-top: 20px;
 margin-bottom: 30px;
}
.catagory:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.catagory {
  background-color: white;
 width: 42%;
 padding-top: 20px;
 padding-bottom: 20px;
}
.weddingImage{
    margin-top: -4px;
}
.topBrand{
  position: relative;
  text-align: start;
  background-color: white;
  font-size: 25px;
  width: 100px;
  background-color: #f3f3f3;
}
.slidingBrand{
  position: absolute;
  margin-top: -50px;
  margin-left: 100px;
}
.scrollButton1{
  margin-left: 95%;
  color: #eeeeee;
  border: white;
}
.mainPageMargin{
 margin: auto;
 width: 60%;
  /* border: 1px solid black */
  /* margin-left: 200px; */
}
.scrollButton2{
  margin-left: 96%;
  border: 1px solid black;
  margin-bottom: 200px;
  background-color: rgb(249, 154, 120);
  padding: 10px;
}
.scrollButton2:hover{
  background-color: orangered;
}
.flex{
  display: flex;
}
.brands{
   display: grid;
   grid-template-columns: repeat(8,1fr);
}

@media only screen and (max-width: 700px) {
  .cardDiv { 
    grid-template-columns: repeat(2,1fr);
  }
}
.cardDiv img {
  width: 100%;
}
.catagoryCard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
 margin-top: 20px;
 margin-bottom: 30px;
}
.catagory:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.catagory {
  background-color: white;
 width: 42%;
 padding-top: 20px;
 padding-bottom: 20px;
}
.weddingImage{
    margin-top: -4px;
}
.topBrand{
  position: relative;
  text-align: start;
  background-color: white;
  font-size: 25px;
  width: 100px;
  background-color: #f3f3f3;
}
.slidingBrand{
  position: absolute;
  margin-top: -50px;
  margin-left: 100px;
}
.scrollButton1{
  margin-left: 95%;
  color: #eeeeee;
  border: white;
}
.mainPageMargin{
 margin: auto;
  /* border:2px solid black; */
  width: 85%;
  
  /* margin-left: 200px; */
}
.scrollButton2{
  margin-left: 96%;
  border: 1px solid black;
  margin-bottom: 200px;
  background-color: rgb(249, 154, 120);
  padding: 10px;
}
.scrollButton2:hover{
  background-color: orangered;
}
.flex{
  display: flex;
}
.brands{
   display: grid;
   grid-template-columns: repeat(8,1fr);
}


/* .slide{
  height: 40px;
  width: 85%;
} */

